h1{
    font-family: 'Amatic SC', cursive;
}
.bloc1{ 
    margin-top: 20%;
}
svg#clouds {
    position: fixed;
    bottom: -140px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }
  .radio{
      margin-left: 2em;
  }